.calc-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-style {
    padding: 10px 5px 10px 20px;
    font-size: 18px;
    margin: 5px 0px 15px 0px;
    background-color: #505c68;
    color: #fffffd;
    outline: none;
    border: none;
    border-radius: 15px;
}
.select-text {
    font-size: 18px;
    line-height: 1.5;
    padding: 5px;
    margin-bottom: 10px;
    width: 244px;
}
.convert-data {
    font-size: 26px;
    letter-spacing: 2px;
    padding-bottom: 5px;
}
.convert-item {
    padding-bottom: 5px;
    transition: all 0.5s ease 0s;
}
