.header {
    border-bottom: 2px solid #3e4b5c;
    
}
.header__list {
    display: flex;
    padding: 20px 15px;
    border-radius: 15px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: #363e49;
}
.header__link-item {
    font-size: 32px;
    color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 8px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    position: relative;
}
.header__link-item:hover {
    color: rgb(16, 14, 14);
}